@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
  --background: #f6f8f8;
  --foreground: #171717;
  --primary: #13ecda;
  --background-dark: #102220;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-background-light: var(--background);
  --color-background-dark: var(--background-dark);
  --font-display: 'Space Grotesk', var(--font-geist-sans);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --radius-sm: 0.25rem;
  --radius: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-full: 9999px;
}

.dark {
  --background: #102220;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
